<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" style="max-height: 50px">
  <a class="navbar-brand" href="#">tenderclass</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/overview">All tenders<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/recommendation">Recommendations <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
